@use 'src/styles/vars';

.settings{

  // background-color: vars.$dark-grey;
  padding: 0.5rem 1rem;
  width: 20rem;
  height: 10rem;
  position: fixed;
  right:0;
  top:2rem;
  transition: transform ease-out 0.5s;
  transform: translateX(100%);

  &.settings--open{
    transform: translateX(0);

    & .settings__toggle{
      transform: rotate(405deg);
    }
  }

  &__toggle{
    transform: rotate(0deg);
    transition: transform ease-out 1s;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color:vars.$light-color;
    top: 0;
    left: -2rem;
    border-radius: 50%;
    border: solid 3px vars.$normal-blue;
    text-align: center;    
    line-height:100%;
    font-size:1.5rem;
    color: vars.$normal-blue;
  }

  &__input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 3px;
    border: 1px solid vars.$normal-blue;
    margin-bottom: 1rem;
  }

  &__submit {
    border:0;
    background: vars.$normal-blue;
    color: vars.$light-color;
    padding: .5rem 2rem;
    border-radius: 3px;
    width: 100%;
  }
}
