@use 'src/styles/vars';

.message {
  text-align: left;
  margin-bottom: 2*vars.$gutter;

  &--mine{
    text-align: right;
    
    .message__author {
      &::after {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }

  &__author {
    margin:0 2*vars.$gutter;
    animation: fade 1s ease 0s 1;
    
    &::after {
      content: "";
      margin-right: auto;
      display:block;
      width:0;
      border-bottom: 1rem solid vars.$light-color;
      border-left: 1rem solid transparent;
    }
  }

  &__message {
    border-radius: 2rem;
    padding: 1.5*vars.$gutter;
    background-color: vars.$light-color;
    color: vars.$normal-blue;
    display: inline-block;
    min-width: 10em;
    text-align: left;
    animation: grow .3s vars.$ease-out-back 0s 1;
    transform-origin: 50% 0;
  }
}

@keyframes grow {
  0% {
    transform: scale(.5);
  }
  100% {
    transform: scale(1);
  }
}
